body {
background-color: #212121;
color: #ffd21d;
}

.navbar-custom {
    background-color: #121212 !important;
}

.yellow-text {
    color: #ffd21d !important;
}

.test-bg {
    background-color: #2a2a2a;
}

.posts-3-in-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.yellow-bg {
    background-color: #ffd21d;  
}



